body{


    font-family: ; /choix de la police regarder video 3Ã  min body est le parent de h1 faire attention aux rÃ¨gles de prioritÃ©/
 }
 
 
 
 
 
 
 h1{
 
 
    text-transform: uppercase; /pour mettre le texte en majuscule
    letter-spacing: 3px; /Espacement entre les lettrs 3px la plus utilisÃ©e/
 text-align: center; /pour mettre le texte en centre/
 font-size: 2.5rem; /les tailles de police doivent Ãªtre en REM 1rem = 16px 2rem taille pour h1/
 text-shadow: 3px 3px 8px; /ombre de text (ajouter la couleur)/
 color: azure: ;/pour ajouter une couleur
 font-family: ;
 
 
 
  
 
 
 }
 