body {
    margin: 0;
    height: 100vh;
    position: relative;
}


.top-left {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e74c3c;
    color: white;
    padding: 10px;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3498db;
    color: white;
    padding: 10px;
}


.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #2ecc71;
    color: white;
    padding: 10px;
}