body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
form{
    max-width: 400px;
    align-items: center;
    align-content: center;
    flex-direction: column;
  
}