body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
form{
    max-width: 400px;
    width: 100%;
    flex-direction: column;
  border: 1px solid black;
  padding: 50px;
}